<% @rows.each do |row| %>
	<%= row['name']  %>
	<%= row['age']  %>
	<%= row['gender'] %>
	<%= row['image'] %> 
    <a href="<%= row['twitter'] %>"><img src= "/images/twitter_icon.png" alt="Tweet!" /></a>
    <a href="<%= row['github'] %>"><img src= "/images/GitHub32px.png" alt="Code!" /></a>
	<p></p>
<% end %>
